{% extends 'home.htm' %}

{% block content %}
<div>
<h1>How images look </h1>
<p>
</p></div>
<p>
Sometimes you put the image all by itself in a paragraph.
If we knew <em>CSS</em>, we could center the image in the page.
Don't be tempted use the <strong>center</strong> tag as
it is deprecated.
</p>
<p>
Images can be right
in the middle of text like a character.
And we can even make an image a clickable
link to another page.
</p>
<ul>
  <li><p>This pages shows us how
  lists work</p><a href="google.com">Google</a></li>
  <li><p>We need to encode
  certain
  characters to show them in
  HTML</p><a href="google.com">Google</a></li>
  <li><span>We should learn more about
  </span><a href="google.com">Google</a></li>
</ul>

{% endblock %}